.video-item{
    display: flex;
    align-items: flex-start;
    padding: 15px 10px;
    position: relative;
    overflow: hidden;
}

.video-item > img{
    margin-right: 15px;
}

.video-item .video-title {
    overflow: hidden;
    color: #2a5885;
    font-size: 22px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 90px;
}

.video-item .video-desc {
    padding-top: 8px;
    margin-bottom: 8px;
    max-height: 64px;
    overflow: hidden;
    font-size: 16px;
}

.video-item .video-published-time{
    color: #2a5885;
}

.video-item .favourite-btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 180px;
    height: 45px;
    overflow: hidden;
}
.video-item .favourite-btn{
    cursor: pointer;
    width: 80px;
    height: 27px;
    background-color: #5181b8;
    border-radius: 13px;
    text-align: center;
    font-size: 14px;
    line-height: 27px;
    text-decoration: none;
    color: white;
    margin: auto;
    transition: 0.5s;    
}

.video-item .favourite-btn.active{
    background: transparent;
    color: white;
    font-size: 12px;   
}

.video-item .favourite-btn::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background-color: red;
    width: 40px;
    height: 27px;
    transition: 0.5s;
    transform: translateX(-80px) rotate(-325deg);
    opacity: 0;
    z-index: -1;
}
.video-item .favourite-btn.active::before{
    left: 62px;
    transform: translateX(0) rotate(35deg);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    opacity: 1;
}

.video-item .favourite-btn::after{
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    background-color: red;
    width: 40px;
    height: 27px;
    transition: 0.5s;
    transform: translateX(80px) rotate(325deg);
    opacity: 0;
    z-index: -1;
}
.video-item .favourite-btn.active::after{
    right: 62px;
    transform: translateX(0) rotate(-35deg);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    opacity: 1;
}

@media (max-width: 880px) {
    .video-item > img{
        max-width: 250px;
    }
}
@media (max-width: 640px) {
    .video-item{
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: auto;
    }
    .video-item > img{
        width: 100%;
        max-width: 400px;
    }
    .video-item .video-info{
        margin-top: 5px;
    }
}